{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Edit Profile{% endblock %}

{% block page_content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='avatar.css') }}">

    <div class="page-header">
        <h1>Edit Your Profile</h1>
    </div>
    <div>
    <!--头像-->
    {% if current_user.avatar1 %}
        <!--自定义头像-->
        <td>Avatar: <a href="" class="avatar"><img class="img-rounded" src="{{ current_user.avatar1 }}" width="128" align="left"></a></td>
    {% else %}
        <!--系统头像-->
        <img class="img-rounded" src="{{ current_user.gravatar(128) }}">
    {% endif %}
</div>
    <br>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}
